:root {
  background-color: hsl(53, 100%, 97%);
}

.blue-ring {
  border: 1.75rem solid hsl(202, 100%, 40%);
}

.black-ring {
  border: 1.75rem solid black;
}

.red-ring {
  border: 1.75rem solid hsl(351, 87%, 56%);
}

.green-ring {
  border: 1.75rem solid hsl(147, 94%, 34%);
}

.lightblue-ring {
  border: 1.75rem solid hsl(181, 76%, 80%);
}

.yellow-ring {
  border: 1.75rem solid hsl(42, 98%, 51%);
}

.origin-top-center {
  transform-origin: top center;
}

.origin-bottom-center {
  transform-origin: bottom center;
}
